x-healthcheck: &healthcheck
  start_period: 10s
  interval: 30s
  timeout: 10s
  retries: 3

services:
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:{{ version_tags.paperless }}
    container_name: paperless-ngx
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - 8100:8000
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      PAPERLESS_DBENGINE: postgresql
      PAPERLESS_DBPASS: {{ paperless_pg_password }}
      PAPERLESS_SECRET_KEY: {{ paperless_secret_key }}
      PAPERLESS_TIME_ZONE: Europe/Madrid
      PAPERLESS_OCR_LANGUAGE: spa
      USERMAP_UID: 1000
      USERMAP_GID: 1000
    healthcheck:
      <<: *healthcheck
      test: ["CMD", "curl", "-f", "http://localhost:8000"]

  broker:
    image: valkey/valkey:9-alpine
    container_name: paperless-broker
    restart: unless-stopped
    volumes:
      - redisdata:/data

  db:
    image: postgres:18
    container_name: paperless-db
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: {{ paperless_pg_password }}

volumes:
  data:
  media:
  pgdata:
  redisdata:
