x-healthcheck: &healthcheck
  start_period: 10s
  interval: 30s
  timeout: 10s
  retries: 3

services:
  grafana:
    image: grafana/grafana:{{ version_tags.grafana }}
    container_name: grafana
    restart: unless-stopped
    environment:
{% for k, v in grafana_env.items() %}
      {{ k }}: {{ v }}
{% endfor %}
    ports:
      - 3000:3000
    volumes:
      - grafana-data:/var/lib/grafana
    healthcheck:
      <<: *healthcheck
      test: [ "CMD", "wget", "-q", "--spider", "http://localhost:3000/api/health" ]

  prometheus:
    image: prom/prometheus:{{ version_tags.prometheus }}
    container_name: prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    volumes:
      - prometheus-data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    healthcheck:
      <<: *healthcheck
      test: [ "CMD", "wget", "-q", "--spider", "http://localhost:9090/-/healthy" ]

  loki:
    image: grafana/loki:{{ version_tags.loki }}
    container_name: loki
    restart: unless-stopped
    ports:
      - 3100:3100
    volumes:
      - loki-data:/loki
    # Loki removed busybox from the image, so it can't send a health check

volumes:
  prometheus-data:
  loki-data:
  grafana-data:
